<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>


<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <img src="static/images/ucuenca.png" th:src="@{/images/ucuenca.png}" />
        <a class="navbar-brand"><img src="../static/images/ucuenca.png" alt="">&nbsp TELEMED_UDEC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-primary" href="acerca">Acerca de</button>
            </form>
        </div>
    </nav>
    <!-- NAVBAR -->
    
    <div class="container my-5 text-center">
        <h1>Peticiones de insumos</h1>
    </div>
    <div class="container my-5">
        <h2>Datos Generales </h2>
        <form id="formulario">
            <div class="input-group my-3">
                <div class="input-group-prepend"><span class="input-group-text" id="">id_Insumos</span></div>
                <input required type="number" id="paciente" name="paciente" placeholder="id_paciente">
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend"><span class="input-group-text" id="">Cantidad</span></div>
                <input required type="number" id="caso" name="caso" placeholder="Caso" class="form-control">
            </div>
            <div class="input-group my-3">
                <div class="input-group-prepend"><span class="input-group-text" id="">Codigo de modulo</span></div>
                <input required type="date" id="fecha" name="fecha" placeholder="EX, IN, FC, HO," class="form-control">   
            </div>
            <button id="envio" class="btn btn-primary w-100" type="submit" th:href="@{/registro}">Comenzar</button>
        </form>
    </div>
    
    <!-- Footer -->
    <footer class="page-footer font-small bg-primary">
        <div class="container">
            <div class="row d-flex text-center justify-content-center">
                <div class="col-md-8 col-12 mt-5 text-light">
                    <p style="line-height: 3rem">Este módulo fue desarrollado como parte de la materia Base de Datos
                        II,periodo marzo-julio 2020.</p>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>