<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <img src="static/images/ucuenca.png" th:src="@{/images/ucuenca.png}"/>
        <a class="navbar-brand"><img src="../static/images/ucuenca.png" alt="">&nbsp TELEMED_UDEC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="RegistroExamen">Realizar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="acerca">Actualizar</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-primary">Acerca de</button>
            </form>
        </div>
    </nav>
    <!-- NAVBAR -->
    <div class="container my-5 text-center">
        <div class="table-responsive">
            <table id="examList" class="table table-bordered table-hover table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">paciente</th>
                        <th scope="col">caso</th>
                        <th scope="col">precio</th>
                        <th scope="col">fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <tr th:each="examen: ${examList}">
                        <td th:text="${examen.id}"></td>
                        <td th:text="${examen.paciente}"></td>
                        <td th:text="${examen.caso}"></td>
                        <td th:text="${examen.precio}"></td>
                        <td th:text="${examen.fecha}"></td>
                        <td>
                            <a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i
                                    class="fas fa-user-times"></i></a>
                        </td>
                    </tr>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="container my-5 text-center">
        <h1>Toma de datos Paciente</h1>
    </div>
    <div class="container my-5">
        <h2>Datos Generales </h2>
        <form id="formulario" method="POST" th:object="${examForm}">
            <input required type="number" id="paciente" name="paciente" placeholder="id_paciente"
                class="form-control my-3" th:field="${examForm.paciente}">
            <div class="alert-danger" th:if="${#fields.hasErrors('paciente')}" th:errors="*{id_paciente}">Name Error</div>
            <input required type="number" id="caso" name="caso" placeholder="Caso" class="form-control my-3" th:field="${examForm.caso}" >
            <div class="alert-danger" th:if="${#fields.hasErrors('caso')}" th:errors="*{caso}">Name Error</div>
            <input required type="date" id="fecha" name="fecha" placeholder="Fecha" class="form-control my-3" th:field="${examForm.fecha}">
            <div class="alert-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Name Error</div>
            <button id="envio" class="btn btn-primary w-100" type="submit">Comenzar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>